<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>DBMS_Web_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>web.jdbc.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherControllerServlet</display-name>
    <servlet-name>TeacherControllerServlet</servlet-name>
    <servlet-class>web.jdbc.TeacherControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherControllerServlet</servlet-name>
    <url-pattern>/TeacherControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentControllerServlet</display-name>
    <servlet-name>StudentControllerServlet</servlet-name>
    <servlet-class>web.jdbc.StudentControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentControllerServlet</servlet-name>
    <url-pattern>/StudentControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminControllerServlet</display-name>
    <servlet-name>AdminControllerServlet</servlet-name>
    <servlet-class>web.jdbc.AdminControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControllerServlet</servlet-name>
    <url-pattern>/AdminControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>web.jdbc.AdminControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CredentialsServlet</display-name>
    <servlet-name>CredentialsServlet</servlet-name>
    <servlet-class>web.jdbc.CredentialsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CredentialsServlet</servlet-name>
    <url-pattern>/CredentialsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSignupServlet</display-name>
    <servlet-name>StudentSignupServlet</servlet-name>
    <servlet-class>web.jdbc.StudentSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSignupServlet</servlet-name>
    <url-pattern>/StudentSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSignupServlet</display-name>
    <servlet-name>TeacherSignupServlet</servlet-name>
    <servlet-class>com.credentials.TeacherSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSignupServlet</servlet-name>
    <url-pattern>/TeacherSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLoginServlet</display-name>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>com.teacher.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/TeacherLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCoursesServlet</display-name>
    <servlet-name>ViewCoursesServlet</servlet-name>
    <servlet-class>com.courses.ViewCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCoursesServlet</servlet-name>
    <url-pattern>/ViewCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluationControllerServlet</display-name>
    <servlet-name>EvaluationControllerServlet</servlet-name>
    <servlet-class>com.evaluations.EvaluationControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluationControllerServlet</servlet-name>
    <url-pattern>/EvaluationControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>